*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
 width: 100%;
 height: 100vh;
 background-image: url('../img/tecnologia.jpg');
 background-position: center center;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;

}
.form{
 width: 40%;
 height: 40%;
 display: inherit;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap:20px;
 backdrop-filter: blur(10px);
}

.form div{
 display:flex;
 width: 50%;
 justify-content: space-between;
 align-items: center;
}

.form div label{
 color: white;
 letter-spacing: 2px;
}

.form div input{
 outline: none;
 height: 30px;
 border-radius: 10px;
}

.form button{

 width: 50%;
 margin-top: 20PX;
 background-color: white;
 height: 35px;
 border: none;
 border-radius: 10px;
 
}